*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #212329;
}

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #d1d1d1;
    text-decoration: none;
}

.logo{
    width: 160px;
}

.homin{
    width: 35px;

}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #00000080;
    box-shadow: #00000060;
    position:relative;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 30px;

}

hr{
    width: 250px;
    margin-left: 41%;
}
.nav_links li a{
    transition: all 0.3a ease 0s;
    font-size: 18px;
}

.nav_links li a:hover{
    color: #ffffff;
}

.titulo h1{
    display: flex;
    color: white;
    margin-top: 40px;
    font-size: 45px;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.bg {
    display: block;
    background-size: cover;
    height: 110px;
    position: relative;
  }

  input {
    background: rgba(255,255,255,0.4);
    border: none;
    position: relative;
    display: block;
    outline: none;
    width: 400px;
    height: 30px;
    top: 30px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    border-radius: 55px;
  }
  ::-webkit-input-placeholder { color: #666;} 
  :-moz-placeholder { color: #666; }
  ::-moz-placeholder { color: #666; }
  :-ms-input-placeholder { color: #666; }


.card{
    width: 250px;
    height: 390px;
    margin: 25px;
    margin-top: 3%;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}



.card-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img{
    min-width: 100%;
    width: auto;
    height: 100%;
}

.card:hover{
    transform: scale3d(1.1,1.1,1.1);
}

.card-body{
    height: 100px;
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
    font-family: sans-serif;
}


.card-local{
    font-size: 28px;
    margin: 2px 0;
}

.card-titulo{
    font-size: 18px;
    margin: 6px 0;
}

.card-texto{
    font-size: 13px;
    width: 250px;
    margin-right: 2px;
}

.card-footer{
    margin-top: 10px;
    text-align: center;
    background-color: #2A9685;
}

.card-footer a{
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



footer{
    background-color: #111;
    margin-top: 70px;
    bottom: 0;

    width: 100%;
}

.footerContainer{
    width: 100%;
    height: 180px;
}

.socialIcons{
    display: flex;
    justify-content: center;


}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: rgb(255, 255, 255);
    opacity: 0.9;
}


.footerLinks{
    list-style: none;

    
}

.footerLinks li{
    display: inline-block;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerLinks li a{
    transition: all 0.3a ease 0s;
}

.footerLinks li a:hover{
    color: #ffffff;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}


.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

